
    input[type=text],
    select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 20%;
        background-color: #1f93cd;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #074568;
    }

    div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
    }
button{
    background-color:#cbd7ef;
	border-radius:9px;
	border:1px solid #c7c7c7;
	display:inline-flex;
	cursor:pointer;
	color:#407171;
	font-family:Arial;
	font-size:20px;
    margin-top: 20px;
	text-decoration:none;
	text-shadow:0px 0px 0px #70756f;
    text-align: center;
}

body{
    background-color: rgb(145, 196, 250);
}