body{
    background-color: #c3d9fa;
}


.packge-container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: auto;
   
}
.packge-container div{
    background-color: rgba(111, 102, 238, 0.568);
    margin: 10px;
    padding: 10px;
    width: 300px;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
}
.packge-container div h1{
    font-weight: 800;
    

}
Button {
	background-color:#0fd3e1;
	border-radius:9px;
	border:1px solid #c7c7c7;
	display:inline-block;
	cursor:pointer;
	color:#0c0d0e;
	font-family:Arial;
	font-size:17px;
	padding:9px 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #70756f;
   
}
Button:hover {
	background-color:#c5c4ff;
}
Button:active {
	position:relative;
	top:1px;
}
.bottom-btn{
  
  align-items: center;
 
}
.thanks{
    
    background-color:#37fa47 ;
     width:100%;
     margin-bottom: 15px; 
     padding: auto;
    border-radius: 5px;
    text-align: center;
   
} 
 