body {
    margin: 0;
    padding: 0;
    background-color: #c7edffba;
    font-family: 'Arial';
}

.login {
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: #3494cf;
    border-radius: 15px;

}

h2 {
    text-align: center;
    color: #002b5d;
    padding: 20px;
}

label {
    color: #002b5d;
    font-size: 17px;
}

#email {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#password {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}

#log {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


font-size: 17px;

}


#log:hover {
    background-color: #29bfff
}

span {
    color: white;
    font-size: 17px;
}

a {
    float: right;
    background-color: grey;
}

.error {
    color: rgb(0, 0, 0);
    font-size: 90%;
}

.error{
    
    width: 280px;
    margin: auto;

    background: rgba(176, 238, 255, 0.671);
    padding: 10px;
}